.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 100;
}