.form {
   display: flex;
   justify-content: center;
   align-items: center;
}

.label {
    margin-right: 5px;
    font-size: 20px;
}

@media screen and (max-width: 780px) {
    .input {
        display: none;
    }
}

@media screen and (min-width: 780px) {
    .input {
        width: 200px;
    }
}